.DS_Store
*.DS_Store
**/*.DS_Store
node_modules/*
Node_World/DeviceLocator.h
*.autosave
.vscode/
out/
Control_World/out/
Control_World/data/*_show_control_settings.json
Control_World/data/Futurium_Sphere_0902_show_control_settings.json
Control_World/data/Futurium_Sphere_0902_show_control_settings.json
*.swp
tmp_build/**
tmp_build/**
Node_World/DeviceLocator_*
*.rhl
RPi_World/data/device_locator_select
RPi_World/data/*.hexmap
RPi_World/data/*.pilist
Node_World_DLs/*
Node_World_DLs/*
Hex_Files/*
Hex_Files/*.hex
Node_World_DLs/DeviceLocator_MG.h
Node_World_DLs/DeviceLocator_NR.h
Node_World_DLs/DeviceLocator_SR.h
Node_World_DLs/DeviceLocator_TG.h
Hex_Files/MG.hex
Hex_Files/NR.hex
Hex_Files/SR.hex
Hex_Files/TG.hex
RPi_World/data/device_locator_select
RPi_World/data/Meander_FULL_JAN14.hexlist
RPi_World/data/*.hexlist
Hex_Files/MG.hex
Hex_Files/NR.hex
Hex_Files/SR.hex
Node_World_DLs/DeviceLocator*.h
RPi_World/data/device_locator_select
RPi_World/data/Meander_FULL_JAN15.hexlist
